<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="<%=context.publicPath%>favicon.ico" type="image/x-icon">
        <script src="//at.alicdn.com/t/font_1013309_fburfe4zkmn.js"></script>
        <style type="text/css">
            .icon {
               width: 1em; height: 1em;
               vertical-align: -0.15em;
               fill: currentColor;
               overflow: hidden;
               cursor: pointer;
            }
        </style>
        <title>umi-dva-admin</title>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>